---
---

$body-bg:    #1a1a1a;
$body-color: #f8f9fa;


//import bootstrap
@import "bootstrap/bootstrap";

%block {
  display: block;
  width  : 100%;
}


p {
  @extend %block;
}

h1 {
  @extend %block;
  margin-top: $h1-font-size * 2;
}

h2 {
  @extend %block;
  margin-top: $h2-font-size * 2;
}

h3 {
  @extend %block;
  margin-top: $h3-font-size * 2;
}
