

<div class="card-deck">

{% for collection in include.collections %}
  {% assign content_filename  = collection.slug %}
  {% assign content_image = include.prefix | append : "/images/" | append : content_filename | append : "." | append : collection.image_ext %}

  <div class="col-24 col-md-8 col-lg-6">
  <div class="card">
    <a href="{{collection.url}}">
      <img class="card-img-top" src="{{content_image}}" class="img-object-fit"> 
      <div class="card-body"> 
        <h3 class="card-title"> {{collection.title}} </h3>
      </div>
    </a>
  </div>
</div>

{% endfor %}

</div>
