<!DOCTYPE html>

<html lang="ja"> 
  {% include defaulthtmlheader.html %}
  <body>
    <div id="head-title"> 
      <div class="container"> 
        <div class="row">
          <div class="col-12 col-md-6 col-xxl-5 offset-1 bg-na-white" >
            <h1>
              <a href="{{site.github.url}}/">
                <img src="{% link images/logo.svg %}" title="signalcompose" alt="signalcompose logo">
              </a>
            </h1>
          </div>
        </div>
      </div>
    </div>
    {{ content }}
  </body>
</html>

